@model gamenight.Models.GameViewModel

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Game" asp-action="Index" class="navbar-brand">GameNight</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="align-right" asp-area="" asp-controller="Home" asp-action="LogOut">Log Out</a></li>
                <li><a class="align-right" asp-area="" asp-controller="Game" asp-action="Dashboard">Party Finder</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container addGame img-fluid" id="addGameBG">


    <h1>Create a Party!</h1>
    <div asp-validation-summary="All"></div>

    <form asp-controller="Game" asp-action="CreateGameForm" method="Post">

        <div class="form-group row" id="GameAndPlatformFields">
            <div class="col-md-3">
                <input class="form-control" asp-for="Title"/><br>
            </div>

            <div class="col-md-3">
                <input class="form-control" asp-for="Platform"/><br>
            </div>
        </div>

        <div class="form-group row" id="DateAndTimeFields">
            <div class="form-group col-md-3">
                <input class="form-control" asp-for="Date"/><br>
            </div>

            <div class="form-group col-md-3">
                <input class="form-control" asp-for="Time"/><br>
            </div>
        </div>

        <div class="form-group row" id="DurationAndTimeSpanFields">
            <div class="form-group col-md-3">
                <input class="form-control" asp-for="Duration"/>
            </div>

            <div class="form-group col-md-3">
                <h4>
                    <label asp-for="TimeSpan"></label>
                        <select name="TimeSpan">
                            <option value="Minutes">Minutes</option>
                            <option value="Hours">Hours</option>
                            <option value="Days">Days</option>
                        </select>
                </h4>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control" asp-for="Description"/><br>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-info" id="gameBtns">Create Party</button>
        </div>

    </form>

<!-- </div> -->
</img>